{% extends 'base.html.twig' %}

{% block title %}Εφαρμογή Στρατιωτικών Οικημάτων{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{#    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>#}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('js/app') }}
    {% endblock %}
