/* Custom css classes */
.c-sidebar-nav-item .active {
    color: #fff;
    background: #321fdb;
}

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.container {
    position: relative;
    width: 100%;
}
/* Make alert msg not push other element down */
.alert {
    position: absolute;
    text-align: center;
    left: 10%;
    right: 10%;
    /*width: 100%;*/
}
